.imageContainer {
	width:2484;
	height:544;
	background-image: url("img/LoomaSticker.png")
}
h1 {
  text-shadow: 2px 2px 5px red;
}

html, body {



margin:0;

padding:0;



}
/* GLOBAL STYLES */
body {
  background: #333;
  padding-top: 5em;
}
.wrapper{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  font-family: Courier, monospace; 
  font-size: 200%; 
  position:relative;  
  left: 5%;
}

/* DEMO-SPECIFIC STYLES */
 h1 {
  color: palevioletred;
  font-family: monospace;
  white-space: nowrap; 
  margin: 0 auto; 
  padding-right:00px;
  letter-spacing: .15em;
  animation: blink .5s step-end           infinite alternate;;
}

.feof {
    position: absolute;
    inset: 0px;
    opacity: 1;
    transform: scale(1);
    will-change: opacity, filter;
    width: 200%;
    height: 200%;
    margin: auto !important;
    margin-top: auto !important;
    margin-right: auto !important;
    margin-bottom: auto !important;
    margin-left: auto !important;
}
body * {
    font-family: var(--font-a)!important;
    font-weight: 500!important;
    letter-spacing: 1px;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* The typewriter cursor effect */
@keyframes blink {
  50% { border-color: transparent}
}